.TodoSection {
    display: grid;
    overflow: hidden;
    position: relative;
    height: calc(100dvh - var(--header-height));
}

.TodoSection::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--content-background);
    z-index: -1;
    filter: opacity(.5);
}

.TodoSection .content {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    z-index: 1;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    header {
        display: flex;
        padding: 2rem 2rem 0 2rem;

        button {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem;

            &:hover {
                color: var(--error-bg);
                background-color: var(--error-text);
            }
        }
    }

    /* TODO: Add input section styles here */
    .task-input {
        padding: 0rem 2rem;
        display: flex;
        gap: 1rem;

        input {
            width: calc(65% - .5rem);
            border-radius: .5rem;
            height: 2.5rem;
            padding: 0 .5rem;
            border-color: var(--background-color);
            background-color: var(--background-color);
            color: var(--button-text);
        }

        button {
            width: calc(35% - .5rem);
            height: 2.5rem;
            padding: 0;
            font-weight: 600;
            color: var(--background-color);
            background-color: var(--accent-color);
        }
    }

    ul {
        overflow-y: auto;
        padding: 0 2rem 2rem 2rem;
    }
}

.TodoSection .content::after {
    content: '';
    position: absolute;

    /** Parche para Chrome:
        - Chrome hace ver como un border donde  no lo hay aumentar el tamaño y ajustar un margen negativo lo parchea 
    */
    inset: -2%;
    width: 104%;
    height: 104%;
    /* Fin del parche sobre Chrome */

    background-image: var(--bg-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    filter: blur(5px) opacity(.3);
    z-index: -1;
}

.TodoSection .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--background-color);
    z-index: -2;
}

.TodoSection .content {

    &.no-list,
    &.loading {
        display: grid;
        align-items: center;
        justify-content: center;
        font-style: italic;
        user-select: none;
        color: color-mix(in srgb, var(--text-color) 50%, transparent 50%);
    }
}

@media only screen and (max-width: 900px) {
    .TodoSection .content {
        margin: 1rem;

        ul {
            width: 100%;
        }
    }
}