.Sidebar {
    /* border-right: 2px solid var(--button-background); */
    height: calc(100dvh - var(--header-height));
    display: grid;
    grid-template-rows: 1fr auto;
    z-index: 2;
}

/* LIST */
.Sidebar .list {
    overflow-y: auto;
}

.Sidebar .list ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}

.Sidebar .list>ul>li {
    border-radius: 1rem;
    padding: 1rem;
    transition: background-color .2s;
    user-select: none;
    word-break: break-all;
}

.Sidebar .list>ul>li:hover,
.Sidebar .list>ul>li.active {
    background-color: color-mix(in srgb, transparent 90%, var(--text-color) 10%);
    cursor: pointer;
}

/* LIST INPUT */
.Sidebar .list-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    align-items: start;

    input {
        height: 2.5rem;
        padding: 0 .5rem;
        border-radius: .5rem;
        width: 100%;

        background-color: var(--button-background);
        border-color: var(--background-color);
        color: var(--text-color);
    }

    button {
        height: 2.4rem;
        width: 100%;
        padding: 0;

        font-weight: 600;
        color: var(--background-color);
        background-color: var(--accent-color);
    }
}

/* MOBILE */
@media only screen and (max-width: 900px) {
    .drawer > div:nth-child(3) {
        max-width: 400px;
        width: 70%;
    }
    .Sidebar {
        height: 100%;
        background-color: var(--background-color);

        li {
            color: var(--text-color);
        }
    }
}