.App {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.App::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    background-image: var(--bg-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    z-index: -1;
    filter: blur(5px) opacity(.3);
}

.App>main {
    display: grid;
    grid-template-columns: minmax(300px, 20%) 1fr;
}

.MuiTooltip-popper .css-1dbpucb-MuiTooltip-tooltip {
    background-color: color-mix(in srgb, var(--background-color) 50%, transparent 50%);
    border: 1px solid var(--text-color);
    backdrop-filter: blur(5px);
    color: var(--text-color);
    font-family: inherit;
}

/* Mobile */
@media only screen and (max-width: 900px) {
    .App main {
        grid-template-columns: 1fr;
    }
}